footer {
	box-shadow: $box-shadow2;
	color: white;
	background-color: black;
}
.footer {
	margin-bottom: 15px;
	&__title {
		font-weight: 600;
		font-size: 1.6rem;
		margin-bottom: 12px;
		margin-top: 12px;
	}
	&__content > li {
		font-size: 1.2rem;
		color: rgb(128, 128, 137);
		margin-bottom: 8px;
		display: flex;
		&:hover {
			text-decoration: underline;
		}
		img {
			margin-right: 8px;
			margin-bottom: 5px;
		}
		div {
			@include tablet {
				@include flex(center, center);
				flex-direction: column;
			}
		}
		div:first-child {
			margin-right: 8px;
		}
	}
	&__content > span {
		margin-right: 8px;
	}
}
