.header {
	@include flex(flex-start, space-between);
	&__brand {
		display: flex;
	}
	&__logo {
		font-weight: bold;
		font-size: 3.5rem;
		color: rgb(26, 148, 255);
	}
	&__help {
		margin-right: 20px;
		color: rgb(26, 148, 255);
	}
}
