.header-user {
	height: 180px;
	background-image: url('https://totoshop.vn/tp/T0300/img/bg-page-header.webp');
	background-size: cover;
	@include flex(flex-start, center);
	flex-direction: column;
	padding-left: 30px;
	h1 {
		font-weight: 300;
		letter-spacing: 1px;
	}
	div {
		a {
			&:hover {
				color: #78cccd;
				text-decoration: underline;
			}
		}
	}
}
