.form-control {
	border-radius: 4px;
	margin-bottom: 8px;
	input {
		border-radius: 4px;

		padding: 7px;
		border: 1px solid #ddd;
		width: 100%;
	}

	input:focus {
		border-color: #78cccd;
	}
	input::placeholder {
		font-weight: 200;
		font-size: 1rem;
		color: rgb(146, 146, 146);
	}
}
