$main-bg: #f5f5fa;
$secondary-bg: #ffff;
$main-color: #1a94ff;

$text-main-color: #38383d;
$text-white-color: #ffffff;
$text-red-color: #ff424e;

$container-width: 1200px;
$mobile-width: 600px;
$tablet-width: 1024px;
