.home {
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	&__title {
		text-align: center;
		font-weight: 300;
	}
	&__main {
		@include flex(center, space-between);
	}
	&__filter {
		&__toggle {
			@include flex(center, flex-start);
			i {
				font-size: 2rem;
			}
		}
	}
}
