.home {
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	&__title {
		text-align: center;
		font-weight: 300;
		margin-bottom: 20px;
	}
	&__main {
		@include flex(center, space-between);
	}
	&__filter {
		cursor: pointer;
		&__toggle {
			@include flex(center, flex-start);
			i {
				font-size: 2rem;
			}
		}
		&__menu {
			position: fixed;
			width: 100px;
			height: 100px;
			color: black;
		}
	}
	&__sort {
		select {
			padding: 5px 8px;
			outline: none;
			border: 1px solid rgb(214, 214, 214);
			background-color: #f5f5f5;
			border-radius: 2px;
			margin-left: 8px;
			option {
				padding: 10px;
			}
		}
	}
}
